/*--font-family: 'Righteous', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Catamaran', sans-serif;--*/

body {
  font-family: 'Catamaran', Arial, sans-serif;
  font-size: 24px;
  line-height: .8;
  background-color: #F9F9F9;
  color: #c1c1c1;
}

p {
  margin-bottom: .2em;
  line-height: 1.2em;
}

header {
  margin: auto;
}
nav ul {

}
nav a:link, nav a:visited{
  color: #EDF2F4;
  text-decoration:none;
}

nav a:hover, nav a:active{
  color: #022B3A;
  cursor: pointer;
  text-decoration:none;
}

nav a:active{
  color: #022B3A;
  text-decoration:none;
}

.container {
  position: relative;
  text-align: center;
  color:white;
}

.centered-left {
  position: absolute;
  top: 70%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  text-transform: uppercase;
  font-family: 'Righteous', 'Montserrat', sans-serif;
  /*--text-emphasis-style: circle;--*/
  text-shadow: 2px 2px 4px #000000;
}



.grid-container{
  padding: 0em;
  display: grid;
  grid-gap: .5em;
  padding-left:.5em;
  padding-right:.5em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
            "head head head"
            "splash splash splash"
            "wall text1 text1"
            "wall text2 text2"
            "wall text3 text3"
            "extra extra extra"
            "footer footer footer";
}

.grid-item{
  padding: 1em;
}

.one{
  background-color: #FF5E5B;
  color: white;
  grid-area: head;
  padding-top:.5em;
  padding-bottom:.5em;
}

.two{
  grid-area: splash;
  color: white;
  /*--background-color: #022B3A;--*/
  padding: 0em;
}

.three{
  grid-area: wall;
  color: white;
  padding: 0em;
}

.four{
  grid-area: text1;
  color: #022B3A;
  border-left-style: outset;
  border-left-color: #FF5E5B;
  /*--background-color: #00CECB;--*/
}

.five{
  grid-area: text2;
  color: #022B3A;
  border-right-style: outset;
  border-right-color: #FF5E5B;
  /*--background-color: #FFED66;--*/
}

.six{
  grid-area: text3;
  color: #022B3A;
  border-left-style: outset;
  border-left-color: #FF5E5B;
  /*--background-color:#00CECB;--*/
}

.seven{
  grid-area: extra;
  background-color: #022B3A;
}

.eight{
  grid-area: footer;
  background-color: #FF5E5B;
  color: white;
}


.flex-container {/*--container styles --*/
  margin: auto;
  display: flex; /*-- sets the display mode--*/
  flex-direction: row; /*-- sets direction row or column --*/
  justify-content: space-around; /*-- aligns content on main axis --*/
  align-items: center;
  align-content: center;
  flex-wrap: nowrap; /*-- determines whether content wraps or not --*/
}

.column-container{
  margin: auto;
  display: flex; /*-- sets the display mode--*/
  flex-direction: column; /*-- sets direction row or column --*/
  justify-content: space-around; /*-- aligns content on main axis --*/
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

img {
  margin: auto;
}

figcaption {
  padding-top: 2em;
  color: #022B3A;
  justify-content: center;
  align-items:center;
}

h1{
  font-family: 'Righteous', 'Montserrat', sans-serif;
  display: block;
  font-size: 2em;
  margin: 0.67em 0;
  text-align: left;
  max-width: 100%;
}

@media screen and (max-width: 1250px) {
    .centered-left {font-size: 50px;}
}

@media screen and (max-width: 1060px) {
    .centered-left {font-size: 45px;}
}

@media screen and (max-width: 960px) {
    .centered-left {font-size: 40px;}
}

@media screen and (max-width: 860px) {
    .centered-left {font-size: 35px;}
}

@media screen and (max-width: 767px) {
  .grid-container{grid-template-columns: 1fr;
    grid-template-areas:
              "head"
              "splash"
              "text1"
              "text2"
              "text3"
              "extra"
              "footer";
    }
    .three {display: none;}
    .centered-left {font-size: 30px;}
    body {font-size: 16px;}
}

@media screen and (max-width: 660px) {
    .centered-left {font-size: 27px;}
}

@media screen and (max-width: 580px) {
    .centered-left {font-size: 24px;}
}

@media screen and (max-width: 520px) {
    .centered-left {font-size: 13px;}
}
