body {
  font-family: Arial, sans-serif;
  font-size: 24px;
  line-height: .8;
  background-color: #F9F9F9;
  color: #c1c1c1;
}

p {
  margin-bottom: .75em;
}

header {
  margin: auto;
}
nav ul {
  padding-bottom: 1em;
}
nav a:link, nav a:visited{
  color: #EDF2F4;
}

nav a:hover, nav a:active{
  color: #022B3A;
  cursor: pointer;
}

nav a:active{
  color: #022B3A;
}

.grid-container{
  padding: 0em;
  display: grid;
  grid-gap: 0em;
  grid-template-areas:
            "head head head"
            "splash splash splash"
            "wall text1 text1"
            "wall text2 text2"
            "wall text3 text3"
            "extra extra extra"
            "footer footer footer";
}

.grid-item{
  padding: 1em;
}

.one{
  background-color: #FF5E5B;
  color: white;
  grid-area: head;
}

.two{
  grid-area: splash;
  color: white;
  background-color: #022B3A;
  padding: 0em;
}

.three{
  grid-area: wall;
  color: white;
}

.four{
  grid-area: text1;
  color: white;
  background-color: #00CECB;
}

.five{
  grid-area: text2;
  color: white;
  background-color: #FFED66;
}

.six{
  grid-area: text3;
  color: white;
  background-color:#00CECB;
}

.seven{
  grid-area: extra;
  background-color: #022B3A;
}

.eight{
  grid-area: footer;
  background-color: #FF5E5B;
  color: white;
}

.flex-container {/*--container styles --*/
  margin: auto;
  display: flex; /*-- sets the display mode--*/
  flex-direction: row; /*-- sets direction row or column --*/
  justify-content: space-around; /*-- aligns content on main axis --*/
  flex-wrap: no-wrap; /*-- determines whether content wraps or not --*/
}

img {
  margin: auto;
}
